#---------------------------------------------------------------------------------
#- Project:        YASG (Yet another signal generator)
#- Project Page:   https://github.com/id101010/vhdl-yasg/
#- Authors:        Aaron Schmocker & Timo Lang
#- License:		    GPL v3
#- Create Date:    16:23:12 05/20/2016 
#---------------------------------------------------------------------------------

NET "CLK_50MHZ" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 40%;

NET "SPI_MOSI" LOC = "AB14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_SCK"  LOC = "AA20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CS"   LOC = "W7"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CLR"  LOC = "AB13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "DAC_OUT" LOC = "V7"   | IOSTANDARD = LVCMOS33

NET "J18_IO1"  LOC   = "AA21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "J18_IO2"  LOC   = "AB21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "J18_IO3"  LOC   = "AA19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "J18_IO4"  LOC   = "AB19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;

NET "LED0" LOC = "R20" | IOSTANDARD  = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SW0" LOC = "V8" | IOSTANDARD = LVCMOS33 ;
NET "SW1" LOC = "U10"| IOSTANDARD = LVCMOS33 ;

NET "BTN_EAST"  LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "ROT_A"      LOC = "T13" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "ROT_B"      LOC = "R14" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "ROT_CENTER" LOC = "R13" | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "LCD_E"    LOC = "AB4" | IOSTANDARD = LVCMOS33 |  DRIVE = 8 | SLEW = SLOW;
NET "LCD_RS"   LOC = "Y14" | IOSTANDARD = LVCMOS33 |  DRIVE = 8 | SLEW = SLOW;
NET "LCD_RW"   LOC = "W13" | IOSTANDARD = LVCMOS33 |  DRIVE = 8 | SLEW = SLOW;
NET "LCD_DB<7>" LOC  = "Y15"  |  IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;
NET "LCD_DB<6>" LOC  = "AB16" | IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;
NET "LCD_DB<5>" LOC  = "Y16"  |  IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;
NET "LCD_DB<4>" LOC  = "AA12" | IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;
NET "LCD_DB<3>" LOC  = "AB12" | IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;
NET "LCD_DB<2>" LOC  = "AB17" | IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;
NET "LCD_DB<1>" LOC  = "AB18" | IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;
NET "LCD_DB<0>" LOC  = "Y13"  |  IOSTANDARD  = LVCMOS33 | DRIVE  =  8 | SLEW  = SLOW ;