NET "CLK_50MHZ" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 40%;


NET "SPI_MOSI" LOC = "AB14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_SCK"  LOC = "AA20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CS"   LOC = "W7"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CLR"  LOC = "AB13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "DAC_OUT" LOC = "V7"   | IOSTANDARD = LVCMOS33


NET "J18_IO1"  LOC   = "AA21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "J18_IO2"  LOC   = "AB21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "J18_IO3"  LOC   = "AA19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;
NET "J18_IO4"  LOC   = "AB19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW  | DRIVE = 8 ;

NET "LED0" LOC = "R20" | IOSTANDARD  = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SW0" LOC = "V8" | IOSTANDARD = LVCMOS33 ;
NET "SW1" LOC = "U10"| IOSTANDARD = LVCMOS33 ;